<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>
		<%= title %>
	</title>
	<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/js-cookie/2.2.1/js.cookie.js"></script>
</head>

<body>
	<button id="cors">send cors</button>
</body>
<script>
	// Cookies.set('cookie', '1', { domain: 'huoyun-test.djtest.cn' });
	// Cookies.set('cookie', '2', { domain: 'test.djtest.cn' });
	// Cookies.set('cookie', '3', { domain: '.djtest.cn' });

	// 设置header
	axios.defaults.headers.common['myheader'] = 1;
	// 跨域时携带cookie
	axios.defaults.withCredentials = true;

	var cors = document.querySelector('#cors');
	cors.onclick = function () {
		axios.get('http://test.djtest.cn:3000/api/getcors', {
			params: {
				'method': 'cors-get请求',
			},
		})
			.then(function (response) {
				debugger
			})
			.catch(function (err) {
				debugger
				// document.getElementById('people').innerHTML = '<li class="text-danger">' + err.message + '</li>';
			});
	}

</script>

</html>